<div class="header">
  <h1 class="heading">
    Pathfinding Visualizer
  </h1>

  <ul class="actions">
    <li><a class="actions__link" href="#">Algorithms <span>&#9662;</span></a></li>
    <li><a class="actions__link" href="#">Mazes & Patterns <span>&#9662;</span></a></li>
    <li><a class="actions__link" href="#">Speed: speed <span>&#9662;</span></a></li>

    <a href="#" class="btn btn-visualize btn-animated">Visualize !</a>
    <!-- <button class="actions__button actions__button--visualize" type="button">
      Visualize!
    </button> -->

    <li><a class="actions__link" href="#">Clear Board</a></li>
    <li><a class="actions__link" href="#">Add Bomb</a> </li>
    <li><a class="actions__link" href="#">Clear Path</a> </li>
    <li><a class="actions__link" href="#">Clear Walls & Weights</a> </li>
    <li><a class="actions__link" href="https://github.com/Ghevi/pathfinding-visualizer">Github &#10138;</a> </li>
  </ul>
</div>

<div>
  <li><a class="actions__link" href="#"> </a></li>
    <li><a class="actions__link" href="#"> </a> </li>
    <li><a class="actions__link" href="#"> </a> </li>
    <li><a class="actions__link" href="#"> </a> </li>
    <li><a class="actions__link" href="https://github.com/Ghevi/pathfinding-visualizer">Github &#10138;</a> </li>
</div>
