.header {
  display: flex;
  align-items: center;

  background-color: var(--color-primary-header);
  padding: 1rem;
}

.heading {
  min-width: 25rem;

  font-size: 2rem;
  color: #fff;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary);
  }
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: min-content;

  font-size: 1.5rem;
  font-weight: 700;
  list-style: none;

  &__button {
    &--dropdown {
    }

    &--visualize {
      padding: 1rem 1rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: var(--color-primary);
      font-weight: 700;

      &:focus {
        outline: none;
      }
    }

    &--btn {
    }
  }

  &__link:link,
  &__link:visited {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 0.5rem 1.5rem;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      color: rgb(0, 195, 255);
    }

    &:hover > * {
      transition: all .2s;
      transform: scale(1.5);
    }

    span {
      font-size: 2rem;
      padding-left: 0.5rem;
    }
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}
