<div class="header">
  <h1 class="heading">
    Pathfinding Visualizer
  </h1>

  <ul class="actions">
    <li class="actions__button actions__button--dropdown"><a href="#">Algorithms</a></li>
    <li class="actions__button actions__button--dropdown"><a href="#">Mazes & Patterns</a></li>
    <li class="actions__button actions__button--dropdown"><a href="#">Speed: speed</a></li>
    <li class="actions__button actions__button--btn">Clear Board</li>

    <button class="actions__button actions__button--visualize" type="button">Visualize!</button>

    <li class="actions__button actions__button--btn"><a href="">Add Bomb</a> </li>
    <li class="actions__button actions__button--btn"><a href="">Clear Path</a> </li>
    <li class="actions__button actions__button--btn"><a href="">Clear Walls & Weights</a> </li>
    <li class="actions__button actions__button--btn"><a href="">Github &#10138;</a> </li>
  </ul>
</div>
