<div class="header">
  <h1 class="heading">
    Pathfinding Visualizer
  </h1>

  <ul class="actions">
    <li class="actions__button actions__button--dropdown"><a href="#">Algorithms <span>&#9662;</span></a></li>
    <li class="actions__button actions__button--dropdown"><a href="#">Mazes & Patterns <span>&#9662;</span></a></li>
    <li class="actions__button actions__button--dropdown"><a href="#">Speed: speed <span>&#9662;</span></a></li>
    <button class="actions__button actions__button--visualize" type="button">
      Visualize!
      <!-- <span class="actions__button actions__button--visualize--visible">Visualize!</span>
      <span class="actions__button actions__button--visualize--invisible">Pick an Algorithm!</span> -->
    </button>

    <li class="actions__button actions__button--btn"><a href="#">Clear Board</a></li>
    <li class="actions__button actions__button--btn"><a href="">Add Bomb</a> </li>
    <li class="actions__button actions__button--btn"><a href="">Clear Path</a> </li>
    <li class="actions__button actions__button--btn"><a href="">Clear Walls & Weights</a> </li>
    <li class="actions__button actions__button--btn"><a href="https://github.com/Ghevi/pathfinding-visualizer">Github &#10138;</a> </li>
  </ul>
</div>
