.grid {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 2.2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 84vh;
  display: grid;
  grid-template-rows: repeat(33, 2.5rem);
  grid-template-columns: repeat(75, 2.5rem);
}



.start {
  &__icon {
    user-select: none;
  }
}

.target {
  &__icon {
    user-select: none;
  }
}

.empty-node {
  width: 2.3rem;
  height: 2.3rem;
}
